/* Media queries */
@media screen and (max-width :900px) {
  .barra{
    height: 70px;
    background-color: antiquewhite;
    display: flex;
    flex-wrap: wrap;
    align-items: space-around;
    justify-content: space-around;
    overflow-y: visible;
  
  }
  .ir{
    display: none;
  }
  .search{
    height: 40px;
    margin: 15px;
    
  }
  .info{
    font-family: 'Roboto';
    color:#232323;
    font-size: 12px;
/*       margin-left: auto; */
    white-space: normal;
    /* display: inline-block; */
    margin-right: 25px;

  }
  .boton{
    display: none;
  }
  nav i{display: inline-block;
    text-decoration: none;
    font-size: 10px;
    line-height: 45px;
    color: #232323;
    
    margin: -50px 0px auto 20px;
  }
  .dato{
    font-size: 12px;
  }
  .catalogo{
    width: auto;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    /* gap: 10px; me permite añadir espaciado */
  }
  
  .oferta{
    font-weight: bold; /* peso o grosor de la letra */
    height: auto;
    width: 100px;
    background-color: #F6D06E;
    margin: 10% 5% 10% 5%;
    border-radius: 8%;
    position: relative;

    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 8%;
    }
    .destacado{
      font-weight: bold; /* peso o grosor de la letra */
      height: auto;
      width: 100px;
      background-color: #F6D06E;
      margin: 10% 5% 10% 5%;
      border-radius: 8%;
      position: relative;
      
      img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 8%;
          }
    }
    
    /* .destacado img{
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 8%;
    } */
    .oferta .vinculo{
      position: absolute;
      bottom: -40px; /* Ajusta el margen inferior según tus necesidades */
      left: 50%; /* Ajusta la posición horizontal según tus necesidades */
      transform: translateX(-50%); /* Centra horizontalmente el botón */
      text-align: center;
      background-color: #5241B7;
      padding: 8px 16px;
      color: #e7e7e7;
      text-decoration: none;
      border-radius: 4px;
      margin: auto auto auto auto;
    
    }
    .footer .g1 .box h2{
      font-family: 'Roboto';
      color: #e7e7e7;
      margin-bottom: 25px;
      font-size: 12px;
    }
    .footer .g1 .box p{
      font-family: 'Roboto';
      color: #e7e7e7;
      margin-bottom: 10px;
      font-size: 10px;
  
    }
    .footer .g2 small{
      font-size: 10px;
    }
}

  }